* {
  margin: 0;
}
* h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 40px;
}
* h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  color: rgb(172, 170, 184);
  line-height: 25px;
  margin-top: 10px;
}
* a {
  text-decoration: none;
  font-size: 12px;
  margin: 0 15px;
  color: rgb(236, 246, 245);
}
* p {
  line-height: 20px;
  font-size: 13px;
}
* button {
  margin-top: 20px;
  border: none;
  padding: 15px 0;
  width: 150px;
  background-color: rgb(243, 40, 83);
  border-radius: 2px;
}
* header {
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
* header .filtre {
  height: 72vh;
  width: 100%;
  background-color: rgba(38, 50, 47, 0.7490196078);
}
* header .position {
  position: absolute;
  z-index: 1;
  width: 100%;
}
* header .position .container {
  display: flex;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}
* header .position .header1 {
  justify-content: space-between;
  padding: 2%;
}
* header .position .header1 h2 {
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
  color: rgb(236, 246, 245);
}
* header .position .header1 nav {
  text-align: right;
}
* header .position .header1 nav a {
  margin-left: 40px;
}
* header .position .header2 {
  top: 0;
  height: 65vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}
* header .position .header2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
* section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
}
* .section1 .container {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
* .section1 .container div {
  width: 50%;
}
* .section1 .container div p {
  font-size: 13px;
  line-height: 25px;
}
* .section2 {
  background-color: rgb(246, 246, 246);
  text-align: center;
}
* .section2 .container {
  width: 70%;
}
* .section2 .container .cards {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
}
* .section2 .container .cards .div_image {
  border: solid rgb(234, 234, 234) 1px;
  width: 48%;
  background-color: white;
}
* .section2 .container .cards .div_image .image {
  height: 80%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
* .section2 .container .cards .div_image .image1 {
  background-image: url(../images/pic02.jpg);
}
* .section2 .container .cards .div_image .image2 {
  background-image: url(../images/pic03.jpg);
}
* .section2 .container .cards .div_image div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  text-transform: uppercase;
}
* .section2 .container .bouton {
  margin-top: 50px;
}
* .section2 .container .bouton button {
  margin: 0 8px;
}
* .section2 .container .bouton button:last-of-type {
  background-color: 0.272727;
}
* .section3 .centre {
  width: 70%;
}
* .section3 .centre .container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
* .section3 .centre .container .bloc {
  width: 45%;
  display: flex;
  text-align: right;
  margin: 2%;
}
* .section3 .centre .container .bloc .texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;
}
* .section3 .centre .container .bloc .texte h3 {
  font-size: 14px;
}
* .section3 .centre .container .bloc .texte h4 {
  margin-top: 10px;
  font-size: 12px;
  color: rgb(172, 170, 184);
}
* .section3 .centre .container .bloc .texte p {
  padding-top: 20px;
}
* .section3 .centre .container .bloc .div_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
* .section3 .centre .container .bloc .div_image .image {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  border: solid rgb(227, 227, 227) 6px;
  background-size: cover;
  background-repeat: no-repeat;
}
* .section3 .centre .container .bloc .div_image .image1 {
  background-image: url(../images/pic04.jpg);
}
* .section3 .centre .container .bloc .div_image .image2 {
  background-image: url(../images/pic05.jpg);
}
* .section3 .centre .container .bloc .div_image .image3 {
  background-image: url(../images/pic06.jpg);
}
* .section3 .centre .container .bloc .div_image .image4 {
  background-image: url(../images/pic07.jpg);
}
* .section3 .centre .container .bloc2 {
  flex-direction: row-reverse;
  text-align: left;
}
* .section3 .centre .container .bloc2 .texte {
  padding-right: 0px;
  padding-left: 25px;
}
* .section4 {
  padding: 0;
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
* .section4 .filtre {
  height: 50vh;
  width: 100%;
  background-color: rgba(38, 50, 47, 0.7490196078);
}
* .section4 .position {
  position: absolute;
  z-index: 1;
  width: 99%;
}
* .section4 .position .bloc_header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
* .section4 .position .bloc_header2 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
* footer {
  padding: 10vh 0;
  text-align: center;
  background-color: rgb(246, 246, 246);
  color: rgb(170, 170, 170);
}
* footer a {
  color: rgb(170, 170, 170);
  font-size: 30px;
}
* footer p {
  margin-top: 30px;
}
* footer p span {
  font-size: 11px;
  padding: 0 15px;
}
* footer p span:not(:last-of-type) {
  border-right: solid 0.5px;
}

/*media queries*/
@media (max-width: 1300px) {
  header .position .header2 div {
    width: 50%;
  }
  .section1 .container {
    width: 60%;
  }
  .section1 .container div {
    width: 45%;
  }
  .section1 .container div p {
    font-size: 13px;
    line-height: 25px;
  }
  .section3 h1, .section3 h2 {
    text-align: center;
  }
  .section3 .centre .container .bloc {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }
  .section3 .centre .container .bloc .texte {
    padding-right: 0px;
  }
  .section3 .centre .container .image {
    margin-bottom: 8%;
  }
  .section3 .centre .container .bloc2 {
    flex-direction: column-reverse;
  }
  .section3 .centre .container .bloc2 .texte {
    padding-left: 0px;
  }
}
@media (max-width: 850px) {
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
  h2 {
    font-size: 12px;
    line-height: 20px;
  }
  header .filtre {
    height: 50vh;
  }
  header .position .header1 {
    flex-direction: column;
    justify-content: center;
  }
  header .position .header1 nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .position .header1 nav a {
    margin: -10px 15px;
  }
  header .position .header2 div {
    width: 60vh;
    padding: 15px;
  }
  .section1 .container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section1 .container div {
    width: 80%;
  }
  .section1 .container div p {
    margin-top: 20px;
  }
  .section2 {
    background-color: rgb(246, 246, 246);
    text-align: center;
  }
  .section2 .container {
    width: 70%;
  }
  .section2 .container .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .section2 .container .cards .div_image {
    width: 80%;
    height: 40vh;
    margin-top: 20px;
  }
  .section2 .container .cards .div_image div:last-child p {
    font-size: 11px;
    font-family: "giane_gothic_sans_boldbold";
  }
  .section2 .container .bouton {
    margin-top: 30px;
  }
  .section2 .container .bouton button {
    margin: 8px;
  }
  .section3 .centre .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section3 .centre .container .bloc {
    margin-top: 30px;
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .section3 .centre .container .bloc .texte {
    padding-right: 0px;
  }
  .section3 .centre .container .bloc .container_image .image {
    height: 15vw;
    width: 15vw;
  }
  .section3 .centre .container .bloc2 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section3 .centre .container .bloc2 .texte {
    padding-left: 0px;
  }
  .sction4 .position .bloc_header2 div {
    width: 80%;
  }
  footer {
    padding: 5vh 0;
  }
  footer a {
    font-size: 20px;
  }
  footer p {
    display: flex;
    flex-direction: column;
  }
  footer p span {
    font-size: 10px;
  }
}